
.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > img{
    width: 100%;
}

.login > a{
    padding: 1.5rem;
    border-radius: 99px;
    background-color: rgb(3, 185, 100);
    color: white;
    letter-spacing: 0.2rem;
    text-decoration: none;
}